body {
    background-color: rgb(193, 200, 206);
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    margin: 12px;
    padding: 10px;
    height: 90vh;
    width: 90%;
    background-color: rgb(68, 155, 232);
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.announce_text {
    margin-top: 60px;
    font-size: 1.8rem;
}
.copy-right {
    font-size: 0.8rem;
}
.copy-right span {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}
